*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;

}

.row-1{
    width: 1200px;
    margin: 50px auto;
}

.fl{
    float: left;

}

.item1 {
    width: 350px;
    margin-right: 30px;
    position: relative;
}

.item2{
    width: 350px;
    margin-right: 30px;
    position: relative;
}

.item3{
    width: 350px;
}

.item6{
    position: relative;
}

.img1{
    background: url(../img/1.webp);
    background-position: center;
    background-size: contain;
    width: 350px;
    height: 450px;
}

.img2{
    background: url(../img/2.webp);
    background-position: center;
    background-size: contain;
    width: 350px;
    height: 450px;
}

.img3{
    background: url(../img/3.webp);
    background-position: center;
    background-size: contain;
    width: 350px;
    height: 450px;
}

.heart{
    position: absolute;
    top: 10px;
    right: 0;
    background-color: white;
    width: 40px;
    height: 40px;
    font-size: 35px;
    text-align: center;
    line-height: 40px;
}

.discount{
    position: absolute;
    bottom: 10px;
    left: 0;
    background-color: red;
    color: white;
    height: 30px;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
}

.sosten{
    position: absolute;
    bottom: 10px;
    left: 60px;
    background-color: green;
    color: white;
    height: 30px;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
}

.sconto{
    position: absolute;
    bottom: 10px;
    left: 0;
    background-color: red;
    color: white;
    height: 30px;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
}
/*seconda riga*/

.img4 {
    background: url(../img/4.webp);
    background-position: center;
    background-size: contain;
    width: 350px;
    height: 450px;
}

.img5 {
    background: url(../img/5.webp);
    background-position: center;
    background-size: contain;
    width: 350px;
    height: 450px;
}
.img6 {
    background: url(../img/6.webp);
    background-position: center;
    background-size: contain;
    width: 350px;
    height: 450px;
}

/*hoover*/

.img1:hover{
    background: url(../img/1-hover.webp);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.img2:hover{
    background: url(../img/2-hover.webp);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.img3:hover{
    background: url(../img/3-hover.webp);
    background-size: contain;
    background-position: bottom;
}
.img4:hover{
    background: url(../img/4-hover.webp);
    background-size: contain;
    background-position: center;
}
.img5:hover{
    background: url(../img/5-hover.webp);
    background-size: contain;
    background-position: center;
}
.img6:hover{
    background: url(../img/6-hover.webp);
    background-size: contain;
    background-position: center;
}